h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.ul {
  padding: 0;
}

.p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* @media (min-width: 858px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 780px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
    font-size: 10px;
  }
}

 @media (min-width: 724px) {
  html {
    font-size: 9px;
  }
} */

/* @media (max-width: 623px) {
  html {
    font-size: 13px;
  }
} */
